[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream
Actions=DejaDupRestoreFile
[Desktop Action DejaDupRestoreFile]
Name=Revert to previous version
Name[de]=Zu vorheriger Version zurücksetzen
Name[eo]=Restarigu antaŭan version
Name[fr]=Revenir à la version précédente
Name[sl]=Povrni v prejšnjo različico
Icon=org.gnome.DejaDup
Exec=deja-dup --restore "%U"
